/* main */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    .Imagen-about-us{
        width: 40%;
    }
    .contenido-textos{
        width: 40%;
        h3{
            margin-bottom: 15px;
            span{
                background: $bg_rojo;
                color: $bg_blanco;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                width: 30px;
                height: 30px;
                padding: 2px;
                box-shadow: 0 0 6px 0 black;
                margin-right: 5px;
            }
        }
        p{
            padding: 0 0 30px 15px;
            font-weight: 300;
            text-align: justify;
        }
    }
}